h4 {
        text-align: left;
        font-size: 12pt;
        color: #000099;
        margin-bottom: 5px;
        text-decoration: underline;
    }

    table {
        margin: 5px;
        width: 290px;
    }

    th {
        padding: 3px;
    }

    td {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #990000;
        background-color: #ffffcc;
    }

    #trHeader {
        text-decoration: underline;
        color: #990000;
    }

    .centerCell {
        text-align: center;
    }

p5 {
    text-align: left;
    background-color:#E7EACC;
    
}
div5 {
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: 0px;
    background-color: #EADCCC;
}
